table {
    width: 100%;
  }
  .search-input{
    height: auto;
    box-shadow: none;
  }
  .superior-actions{
    display: flex;
  }
  .superior-actions a{
    display: flex;
    width: 20%;
    height: 10%;
    align-self: center;
    margin-right: 20px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  tr.example-detail-row {
    height: 0;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 2px;
    font-weight: lighter;
    margin: 8px 0;
    height: 108px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .example-container {
    position: relative;
  }
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  .optns{
    margin: auto;
    display: flex;
  }
  .edit-product{
    margin-right: 5px;
    padding: 2px 8px;
  }
  .delete-product{
    margin-right: auto;
    margin-left: 5px;
    padding: 2px 8px;
  }
  .images-container{
    display: flex;
  }
  .images-product{
    display: flex;
  }
  .images-product img{
    width: 100px;
    height: 100px;
  }