    <mat-toolbar color="primary">
        <!-- Main toolbar -->
                <span class="example-spacer"></span>
                <button *ngIf="dr===null || (dr && !mobileDevice)" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="action()">
                    <mat-icon *ngIf="dr">menu</mat-icon>
                    <mat-icon *ngIf="dr===null">keyboard_backspace</mat-icon>
                </button>
                <span class="example-spacer"></span>
                <span [style.margin-right]="marginUser">My App</span>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/user1.jpg" alt="user" class="profile-pic"></a>
                        <div class="dropdown-menu dropdown-menu-right animate__animated animate__flipInY">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="/assets/img/user1.jpg" alt="user"></div>
                                        <div class="u-text">
                                            <h4>{{currentProvider?.firstName}} {{currentProvider?.lastName}}</h4>
                                            <p class="text-muted"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="" style="padding: 0px;">{{currentProvider?.email}}</a></p><a href="profile.html" class="btn btn-rounded btn-yellow btn-sm">Ver perfil</a></div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" [routerLink]="['/profile']" routerLinkActive="active"><i class="ti-user"></i> Perfil</a></li>
                                <li><a href="#"><i class="ti-email"></i> Mensajes</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="ti-settings"></i> Configuraciones</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void()" (click)="logout()"><i class="fa fa-power-off"></i> Salir</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
    </mat-toolbar>
