.card-info{
    margin-bottom: 30px;
}
.card-info .card-body .card-title{
    margin-bottom: .75rem;
    font-size: 18px;
    line-height: 22px;
}
.card-info .card-body .text-right h2{
    font-family: "rubik",sans-serif;
    font-weight: 300;
    line-height: 36px;
    font-size: 24px;
}
.card-info .card-body .text-right span{
    font-size: 1rem;
    font-family: 'Rubik',sans-serif;
    font-weight: 300;
}
.card-info .progress{
    height: auto;
}
ngx-charts-advanced-pie-chart {
    font-family: RobotoDraft,Roboto,"Helvetica Neue, Helvetica, Arial",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .01rem;
    text-rendering: optimizeLegibility;
}