
<app-breadcumbs [current]="'Pedidos'"></app-breadcumbs>
		<div class="row" >
      <div class="alert alert-danger" style="width:100%;text-align: center;">
        <div>
          Tu negocio todavía no es visible para nadie, completa la información de <strong>VERIFICACIÓN</strong> para poder comprobar que tu negocio existe y sea visible
        </div>
      </div>
			<!-- <div class="alert alert-warning" style="width:100%;text-align: center;" *ngIf="negocio.estado === 1">
        <div>
          La información que proporcionaste está siendo revisada para corroborar que tu negocio existe, te avisaremos cuando la revisión termine.
        </div>
      </div>
			<div class="alert alert-success" style="width:100%;text-align: center;" *ngIf="negocio.estado === 2">
        <div>
          ¡Tu negocio ha sido verificado con éxito! Todos los productos que hayas agregado ya son visibles desde la página principal.
        </div>
      </div>
			<div class="alert alert-danger" style="width:100%;text-align: center;" *ngIf="negocio.estado === 3">
        <div>
					Lamentablemente tu negocio ha sido rechazado. Se ha considerado que la información proporcionada no es suficiente para validar la existencia de tu negocio o la identidad del encargado, puedes intentar enviando nuevos documentos a revisión o ponerte en <a href="mailto:soporte.yoconsumooaxaca@gmail.com">contacto</a> con nosotros.
					<br>
					Motivo del rechazo: <strong>{{negocio.observaciones}}</strong>
        </div>
      </div> -->
	  </div>
	  <div class="row">
				<div class="alert alert-light" style="width:100%;text-align: center;">
				  <strong>¡HOLA! ¿QUÉ VAMOS A HACER HOY?</strong>
				</div>
				<div class="col-md-6 pl-0">
					<div class="card text-center">
					  <div class="card-header">
					    Productos
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Gestionar tu catálogo de productos</h5>
					    <p class="card-text">Agrega, modifica o elimina productos de tu negocio</p>
					    <a [routerLink]="['/dashboard/productos']" class="btn btn-primary">¡Hagámoslo!</a>
					  </div>
					</div>
				</div>
				<div class="col-md-6 pr-0">
					<div class="card text-center">
					  <div class="card-header">
					    Información
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Modifica las características de tu negocio</h5>
					    <p class="card-text">Verifica tu cuenta, modifica tus horarios y fotos principales</p>
					    <a [routerLink]="['/dashboard/info']" class="btn btn-primary">¡Hagámoslo!</a>
					  </div>
					</div>
				</div>
	  </div>