.container {
    background-color: #f7f7f7;
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
}
.dashboard-content {
    padding: 40px 45px;
    padding-bottom: 0;
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
}
.text-secondary{
    align-self: center;
    font-size: 18px;
}
.optns{
    flex-flow: row;
    margin: auto;
    display: flex;
}
.edit-info{
    margin-right: auto;
}
.edit-info-cancel{
    margin-right: 10px;
}
h3{
    font-weight: 500;
}
.change-psw{
    margin-right: 10px;
}
.actions button{
    margin-left:16px;
}
input{
    line-height: 41px;
}
.photo{
    border: 1px solid;
}
.photo:hover{
    cursor: pointer;
    background-color: black;
    filter: brightness(0.6);
}
.up-photo{
    display: none;
}
.photo:hover~.up-photo{
    cursor: pointer;
    position: absolute;
    top: 26%;
    color: white;
    display: flex;
    flex-flow: column;
    font-size: 16px;
}
.photo:hover~.up-photo::after{
    cursor: pointer;
    content: " \1F4F7";
}
.text-secondary input{
    margin: 0;
}