<app-header [dr] = "null" [mobileDevice] = "mobileDevice"></app-header>
<div class="container">
    <div class="main-body dashboard-content">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/user1.jpg" alt="Admin" (click)="openImg()" class="rounded-circle photo" width="150">
                    <span class="up-photo">Subir foto</span>
                    <input type="file" id="photo-charge" style="display:none">
                    <div class="mt-3">
                      <h2>{{currentProvider?.firstName}} {{currentProvider?.lastName}} ({{currentProvider?.username}})</h2>
                      <!-- <p class="text-secondary mb-1">Creación de la cuenta: {{currentProvider?.createdAt}}</p>
                      <p class="text-secondary mb-1">Ultima modificación: {{currentProvider?.modifiedAt}}</p>
                      <p class="text-muted font-size-sm">Neogocio1</p> -->
                      <div class="actions">
                        <!-- <button class="btn btn-outline-dark">Cambiar foto de perfil</button> -->
                        <button class="btn btn-dark">Ver información del negocio</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h4 class="mb-0">Creación de la cuenta:</h4>
                    <span class="text-secondary">{{currentProvider?.createdAt | date: 'medium' }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h4 class="mb-0">Fecha de verifiación:</h4>
                    <span class="text-secondary">{{currentProvider?.verifedAt ? (currentProvider?.verifedAt | date: 'medium') : '- - -' }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h4 class="mb-0">Última modificación:</h4>
                    <span class="text-secondary">{{currentProvider?.modifiedAt | date: 'medium' }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <a class="btn btn-block btn-outline-danger" href="javascript:void(0)" style="width: 49%;">Cambiar contraseña</a>
                    <a class="btn btn-block btn-danger" href="javascript:void(0)" style="width: 49%;">Deshabilitar cuenta</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                <h2 class="card-title">Información general</h2>
                <form [formGroup]="providerForm" action="#">
                  <div class="row">
                    <div class="col-sm-3">
                      <h3 class="mb-0">Nombre:</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input [style.display]="editingGral ? 'block' : 'none' " type="text" maxlength="10" required formControlName="firstName" [class.inputInvalid]="providerForm.controls.firstName.touched && providerForm.controls.firstName.invalid">
                      <mat-error *ngIf="providerForm.controls.firstName.touched && providerForm.controls.firstName.invalid">
                        <span *ngIf="providerForm.controls.firstName.errors?.required">Este campo no puede estar vacío.</span>
                      </mat-error>
                      <div [style.display]="editingGral ? 'none' : 'block' ">{{currentProvider?.firstName}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h3 class="mb-0">Primer apellido:</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input [style.display]="editingGral ? 'block' : 'none' "  type="text" maxlength="10" required formControlName="lastName" [class.inputInvalid]="providerForm.controls.lastName.touched && providerForm.controls.lastName.invalid">
                      <mat-error *ngIf="providerForm.controls.lastName.touched && providerForm.controls.lastName.invalid">
                        <span *ngIf="providerForm.controls.lastName.errors?.required">Este campo no puede estar vacío.</span>
                      </mat-error>
                      <div [style.display]="editingGral ? 'none' : 'block' " >{{currentProvider?.lastName}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h3 class="mb-0">Segundo apellido:</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input [style.display]="editingGral ? 'block' : 'none' "  type="text" maxlength="10" required formControlName="secondLastName" [class.inputInvalid]="providerForm.controls.secondLastName.touched && providerForm.controls.secondLastName.invalid">
                      <mat-error *ngIf="providerForm.controls.secondLastName.touched && providerForm.controls.secondLastName.invalid">
                        <span *ngIf="providerForm.controls.secondLastName.errors?.required">Este campo no puede estar vacío.</span>
                      </mat-error>
                      <div [style.display]="editingGral ? 'none' : 'block' " >{{currentProvider?.secondLastName}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h3 class="mb-0">Fecha de nacimiento:</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input [style.display]="editingGral ? 'block' : 'none' " type="date" required id="birthdate" max="2014-12-31" formControlName="birthdate" [class.inputInvalid]="providerForm.controls.birthdate.touched && providerForm.controls.birthdate.invalid">
                      <mat-error *ngIf="providerForm.controls.birthdate.touched && providerForm.controls.birthdate.invalid">
                        <span *ngIf="providerForm.controls.birthdate.errors?.required">Este campo no puede estar vacío.</span>
                      </mat-error>
                      <div [style.display]="editingGral ? 'none' : 'block' " >{{currentProvider?.birthdate | date : 'longDate' : "+0000" }}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h3 class="mb-0">Género:</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <select [style.display]="editingGral ? 'block' : 'none' " required formControlName="gender" style="margin:0;" [class.inputInvalid]="providerForm.controls.gender.touched && providerForm.controls.gender.invalid">
                        <option [ngValue]="null"></option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                      </select>
                      <mat-error *ngIf="providerForm.controls.gender.touched && providerForm.controls.gender.invalid">
                        <span *ngIf="providerForm.controls.gender.errors?.required">Este campo no puede estar vacío.</span>
                      </mat-error>
                      <div [style.display]="editingGral ? 'none' : 'block' " >{{currentProvider?.gender}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12 optns">
                      <a class="btn btn-outline-primary edit-info" href="javascript:void(0)" (click)="editGral()" [style.display]="editingGral ? 'none' : 'inline-block'">Editar información</a>
                      <a class="btn btn-outline-success edit-info" href="javascript:void(0)" (click)="saveGral()" [style.display]="editingGral ? 'inline-block' : 'none'">Guardar</a>
                      <a class="btn btn-outline-danger edit-info-cancel" href="javascript:void(0)" (click)="editGral()" [style.display]="editingGral ? 'inline-block' : 'none' ">Cancelar edición</a>
                    </div>
                  </div>
                </form>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                <h2 class="card-title">Información de contacto</h2>
                <form [formGroup]="contactForm" action="#">
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="mb-0">Username</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input [style.display]="editingContact ? 'block' : 'none' "  type="text" maxlength="10" required formControlName="username" [class.inputInvalid]="contactForm.controls.username.touched && contactForm.controls.username.invalid">
                      <mat-error *ngIf="contactForm.controls.username.touched && contactForm.controls.username.invalid">
                        <span *ngIf="contactForm.controls.username.errors?.required">Este campo no puede estar vacío.</span>
                      </mat-error>
                      <div [style.display]="editingContact ? 'none' : 'block' " >{{currentProvider?.username}}</div>
                    </div>
                </div>
                <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h3 class="mb-0">Teléfono:</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input [style.display]="editingContact ? 'block' : 'none' "  type="text" maxlength="10" required formControlName="phone" [class.inputInvalid]="contactForm.controls.phone.touched && contactForm.controls.phone.invalid">
                      <mat-error *ngIf="contactForm.controls.phone.touched && contactForm.controls.phone.invalid">
                          <span *ngIf="contactForm.controls.phone.errors?.required">Este campo no puede estar vacío.</span>
                          <span *ngIf="contactForm.controls.phone.errors?.phoneInvalid && !contactForm.controls.phone.errors?.required">Ingrese los 10 dígitos de su número de teléfono</span>
                      </mat-error>
                      <div [style.display]="editingContact ? 'none' : 'block' " >{{currentProvider?.phone}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h3 class="mb-0">Email:</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input [style.display]="editingContact ? 'block' : 'none' " type="email" required formControlName="email" [class.inputInvalid]="contactForm.controls.email.touched && contactForm.controls.email.invalid">
                      <mat-error *ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid">
                          <span *ngIf="contactForm.controls.email.errors?.required">Este campo no puede estar vacío.</span>
                          <span *ngIf="contactForm.controls.email.errors?.emailInvalid && !contactForm.controls.email.errors?.required">El formato del correo es inválido.</span>
                      </mat-error>
                      <div [style.display]="editingContact ? 'none' : 'block' " >{{currentProvider?.email}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h3 class="mb-0">Tipo de verificación:</h3>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <select [style.display]="editingContact ? 'block' : 'none' " required formControlName="verType" [class.inputInvalid]="contactForm.controls.verType.touched && contactForm.controls.verType.invalid">
                        <option [ngValue]="null"></option>
                        <option value="1">Correo electrónico</option>
                        <option value="2">Número de teléfono</option>
                      </select>
                      <mat-error *ngIf="contactForm.controls.verType.touched && contactForm.controls.verType.invalid">
                        <span *ngIf="contactForm.controls.verType.errors?.required">Debes seleccionar una opción válida.</span>
                      </mat-error>
                      <div [style.display]="editingContact ? 'none' : 'block' " >{{currentProvider?.verType==1 ? "Correo electrónico" : "Número de teléfono" }}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12 optns">
                      <a class="btn btn-outline-primary edit-info" href="javascript:void(0)" (click)="editContact()" [style.display]="editingContact ? 'none' : 'inline-block'">Editar información</a>
                      <a class="btn btn-outline-success edit-info" href="javascript:void(0)" (click)="saveContact()" [style.display]="editingContact ? 'inline-block' : 'none'">Guardar</a>
                      <a class="btn btn-outline-danger edit-info-cancel" href="javascript:void(0)" (click)="editContact()" [style.display]="editingContact ? 'inline-block' : 'none' ">Cancelar edición</a>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>