<app-breadcumbs [current]="'Información del negocio'"></app-breadcumbs>
<div class="row">
  <div class="col-md-7" style="padding-left: 0;">
    <div class="card border-dark mb-3" style="width: 100%;">
      <div class="card-header">INFORMACIÓN GENERAL DEL NEGOCIO</div>
      <mat-progress-bar *ngIf="gnralLoading"
          class="example-margin"
          [color]="'accent'"
          [mode]="'indeterminate'"
          [value]="50">
      </mat-progress-bar>
      <div class="card-body text-primary">
        <form [formGroup]="businessForm">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr><th>Nombre: </th>
                <td>
                  <input type="text" maxlength="25" required formControlName="name" [attr.disabled]="!gnralEditable ? '' : null">
                  <mat-error *ngIf="businessForm.controls.name.touched && businessForm.controls.name.invalid">
                    <span *ngIf="businessForm.controls.name.errors?.required">Este campo no puede estar vacío.</span>
                  </mat-error>
                </td>
              </tr>
              <tr><th>Descripción: </th>
                <td>
                  <textarea name="description" maxlength="300" required formControlName="description" cols="30" rows="10" [attr.disabled]="!gnralEditable ? '' : null"></textarea>
                  <mat-error *ngIf="businessForm.controls.description.touched && businessForm.controls.description.invalid">
                    <span *ngIf="businessForm.controls.description.errors?.required">Este campo no puede estar vacío.</span>
                </mat-error>
                </td>
              </tr>
              <tr><th>Giro: </th>
                <td>
                  <!-- <select required formControlName="business" [attr.disabled]="!gnralEditable ? '' : null">
                    <option></option>
                    <option>Correo electrónico</option>
                    <option>Número de teléfono</option>
                </select>
                  <mat-error *ngIf="businessForm.controls.business.touched && businessForm.controls.business.invalid">
                      <span *ngIf="businessForm.controls.business.errors?.required">Este campo no puede estar vacío.</span>
                  </mat-error> -->
                  <input type="text"
                            aria-label="Number"
                            matInput
                            [formControl]="myControl"
                            [matAutocomplete]="giro"
                            required
                            [class.inputInvalid]="myControl.touched && myControl.invalid">
                    <mat-autocomplete autoActiveFirstOption #giro="matAutocomplete">
                    <mat-option *ngFor="let option of filteredGiros | async" [value]="option">
                        {{option}}
                    </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="myControl.touched && myControl.invalid">
                        <span *ngIf="myControl.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </td>
              </tr>
              <tr><th>Email: </th>
                <td>
                  <input type="email" required formControlName="email" [attr.disabled]="!gnralEditable ? '' : null">
                  <mat-error *ngIf="businessForm.controls.email.touched && businessForm.controls.email.invalid">
                      <span *ngIf="businessForm.controls.email.errors?.required">Este campo no puede estar vacío.</span>
                      <span *ngIf="businessForm.controls.email.errors?.emailInvalid && !businessForm.controls.email.errors?.required">El formato del correo es inválido.</span>
                  </mat-error>
                </td>
              </tr>
              <tr><th>Teléfono: </th>
                <td>
                  <input type="text" maxlength="10" required formControlName="phone" [attr.disabled]="!gnralEditable ? '' : null">
                  <mat-error *ngIf="businessForm.controls.phone.touched && businessForm.controls.phone.invalid">
                      <span *ngIf="businessForm.controls.phone.errors?.required">Este campo no puede estar vacío.</span>
                      <span *ngIf="businessForm.controls.phone.errors?.phoneInvalid && !businessForm.controls.phone.errors?.required">Ingrese los 10 dígitos de su número de tel...</span>
                  </mat-error>
                </td>
              </tr>
              <tr><th>Tags: </th>
                <td>
                  <mat-form-field class="tags-chips">
                    <mat-chip-list #chipList aria-label="Tags selection">
                      <mat-chip
                        *ngFor="let op of tagsSelected"
                        [removable]="removable"
                        (removed)="remove(op)">
                        {{op}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                        #tagsInput
                        [formControl]="tagsCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)"
                        >
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" color="accent">
                      <mat-option *ngFor="let op of filteredTags | async" [value]="op">
                        {{op}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-danger" *ngIf="gralErrors">
            <div>{{ gralErrors }}</div>
          </div>
          <div class="col-sm-12 optns">
            <a (click)="gnralEdit()" class="btn btn-outline-dark edit-info" href="javascript:void(0)" [style.display]="gnralEditable ? 'none' : 'inline-block'">Editar información</a>
            <a (click)="gnralSave()" class="btn btn-outline-success edit-info" href="javascript:void(0)" [style.display]="gnralEditable ? 'inline-block' : 'none'">Guardar</a>
            <a (click)="gnralCancel()" class="btn btn-outline-danger edit-info-cancel" href="javascript:void(0)" [style.display]="gnralEditable ? 'inline-block' : 'none' ">Cancelar edición</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <!-- Información de verificación: -->
    <!-- <div class="row">
      <div class="card border-dark mb-3" style="width: 100%;">
        <div class="card-header">INFORMACIÓN DE VERIFICACIÓN</div>
        <div class="card-body text-primary">
          <div class="alert alert-warning" style="width:100%;text-align: center;" >
            <div>Sube los siguientes documentos para poder asegurar tu identidad y que el negocio registrado existe. Si todo está en orden te avisaremos cuando tu negocio sea publicado</div>
          </div>
          <div class="alert alert-warning" style="width:100%;text-align: center;" >
            <div>Documentos en proceso de revisión...</div>
          </div>
          <div class="alert alert-warning" style="width:100%;text-align: center;" >
            <div>Utiliza esta sección para actualizar tus documentos si es que alguno de ellos ha cambiado, recuerda que estos documentos serán sometidos a un proeso de revisión durante el cual tu tienda no será visible al público</div>
          </div>
          <form #validacion="ngForm" name="validacion" enctype="multipart/form-data">
            <label for="fachada">Foto de la fachada del negocio:</label>
            <input type="file" name="fachada" style="line-height: inherit;height: inherit;">
            <div class="alert alert-danger">
              <div>Necesitamos este dato</div>
            </div>
            <label for="cdomicilio">Comprobante de domicilio no anterior a 3 meses:</label>
            <input type="file" name="cdomicilio" style="line-height: inherit;height: inherit;">
						<div class="alert alert-danger">
              <div>Necesitamos este dato</div>
            </div>
						<label for="situacionf">Documento de situación fiscal</label>
            <input type="file" name="situacionf" style="line-height: inherit;height: inherit;">
            <div class="alert alert-danger">
              <div>Necesitamos este dato</div>
            </div>
            <label for="credencial">Documento de identifiación oficial del encargado (IFE, INE, PASAPORTE)</label>
            <input type="file" name="credencial" style="line-height: inherit;height: inherit;">
            <div class="alert alert-danger">
              <div>Necesitamos este dato</div>
            </div>
            <div class="alert alert-warning" style="width:100%;text-align: center;">
              <div>Te recomendamos escanear los documentos o tomar una fotografía donde los datos sean legibles</div>
            </div>
            <button class="btn btn-rounded btn-primary btn-block" type="button">Enviar</button>
            <br/>
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
              progress %
            </div>
            <div class="alert alert-info" style="width:100%;text-align: center;">
              <div> message </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="card border-dark mb-3" style="width: 100%;">
        <div class="card-header">APARIENCIA</div>
        <mat-progress-bar *ngIf="imagesLoading"
          class="example-margin"
          [color]="'accent'"
          [mode]="'indeterminate'"
          [value]="50">
      </mat-progress-bar>
        <div class="card-body text-primary custom-accordion">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Logo
                </mat-panel-title>
                <mat-panel-description>
                  Imagen principal de tu negocio
                  <mat-icon color="accent">account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="logo">
                <div class="file-select src-file" >
                    <img class="preview-image" [src]="imgLogo" alt="your image" />
                    <input type="file" name="img-logo" aria-label="Archivo" (change)="imagePreview($event,0)">
                </div>
                <div class="alert alert-primary" role="alert">
                  A simple primary alert—check it out!
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle class="img-portada">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Portada
                </mat-panel-title>
                <mat-panel-description>
                  Banner de tu negocio
                  <mat-icon color="accent">image</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="portada">
                <div class="file-select src-file long-img" >
                    <img class="preview-image" [src]="imgPortada" alt="your image" />
                    <input type="file" name="img-portada" aria-label="Archivo" (change)="imagePreview($event,1)">
                </div>
              </div>
              <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out! A simple primary alert—check it out! A simple primary alert—check it out!
              </div>
            </mat-expansion-panel>
          
          </mat-accordion>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card border-dark mb-3" style="width: 100%;">
      <div class="card-header">UBICACIÓN</div>
      <mat-progress-bar *ngIf="locationLoading"
        class="example-margin"
        [color]="'accent'"
        [mode]="'indeterminate'"
        [value]="50">
    </mat-progress-bar>

    <div class="ubication">
    <form [formGroup]="businessForm" action="#">
    <div class="edit-place">
    <div class="field" style="margin-bottom: 35px;margin-top: 30px;">
      <input ngx-google-places-autocomplete 
          [options]='options' 
          #placesRef="ngx-places" 
          placeholder="Ingresa una ubicación" 
          name="formattedAddress" 
          (onAddressChange)="changeDireccion($event)" style="margin-bottom: 4px;"
          [attr.disabled]="!locationEditable ? '' : null"
          />
  </div>
  <div class="field" style="margin-top: 35px;">
    <div class="sub-field">
      <input type="text" required id="cp" name="cp" maxlength="5" formControlName="cp" [attr.disabled]="!locationEditable ? '' : null">
      <label for="cp">CP</label>
      <mat-error *ngIf="businessForm.controls.cp.touched && businessForm.controls.cp.invalid">
          <span *ngIf="businessForm.controls.cp.errors?.required">Este campo no puede estar vacío.</span>
      </mat-error>
    </div>
    <div class="sub-field">
      <input type="text" maxlength="20" required id="state" formControlName="state" [attr.disabled]="!locationEditable ? '' : null">
      <label for="state">Estado</label>
      <mat-error *ngIf="businessForm.controls.state.touched && businessForm.controls.state.invalid">
          <span *ngIf="businessForm.controls.state.errors?.required">Este campo no puede estar vacío.</span>
      </mat-error>
    </div>
  </div>
  <div class="field" style="margin-top: 35px;margin-bottom: 0;">
    <div class="sub-field">
      <input type="text" required id="suburb" maxlength="30" formControlName="suburb" [attr.disabled]="!locationEditable ? '' : null">
      <label for="suburb">Colonia</label>
      <mat-error *ngIf="businessForm.controls.suburb.touched && businessForm.controls.suburb.invalid">
          <span *ngIf="businessForm.controls.suburb.errors?.required">Este campo no puede estar vacío.</span>
      </mat-error>
    </div>
    <div class="sub-field">
      <input type="text" required id="street" maxlength="25" formControlName="street" [attr.disabled]="!locationEditable ? '' : null">
      <label for="street">Calle</label>
      <mat-error *ngIf="businessForm.controls.street.touched && businessForm.controls.street.invalid">
          <span *ngIf="businessForm.controls.street.errors?.required">Este campo no puede estar vacío.</span>
      </mat-error>
    </div>
  </div>
  <div class="field" style="margin-top: 35px;margin-bottom: 0;">
    <div class="sub-field">
      <input type="text" required id="externNumber" maxlength="6" formControlName="externNumber" [attr.disabled]="!locationEditable ? '' : null">
      <label for="externNumber">Número externo</label>
      <mat-error *ngIf="businessForm.controls.externNumber.touched && businessForm.controls.externNumber.invalid">
          <span *ngIf="businessForm.controls.externNumber.errors?.required">Este campo no puede estar vacío.</span>
      </mat-error>
    </div>
    <div class="sub-field">
      <input type="text" id="internNumber" formControlName="internNumber" maxlength="6" [attr.disabled]="!locationEditable ? '' : null">
      <label for="internNumber">Número interno</label>
    </div>
  </div>
</div>
  <div class="col-sm-12 optns">
    <a class="btn btn-success col-sm-8 edit-info" href="javascript:void(0)" [style.display]="locationEditable ? 'inline-block' : 'none'">Actualizar ubicación</a>
    <a (click)="locationEditable=true;" class="btn btn-outline-success col-sm-12 edit-info" href="javascript:void(0)" [style.display]="locationEditable ? 'none' : 'inline-block'">Editar ubicación</a>
    <a (click)="locationEditable=false;loadGnralInfo();" class="btn btn-outline-danger edit-info-cancel" href="javascript:void(0)" [style.display]="locationEditable ? 'inline-block' : 'none' ">Cancelar edición</a>
  </div>
</form>
</div>

  </div>
</div>
</div>