<div class="cover" [style.display] = "cover">
    <mat-progress-spinner diameter="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
<div [@show]="loading ? 'def' : 'm' " class="container" [style.display] = "showing">
    <header>Registrar nuevo negocio </header>
    <div class="pbar">
        <div class="step" *ngFor="let paso of steps;let indice=index">
            <p [class]="paso[1]">{{ paso[0] }}</p>
            <div class="bullet" [class]="paso[1]">
                <span>{{indice + 1}}</span>
            </div>
            <div class="check fas fa-check " [class]="paso[1]">
            </div>
        </div>
    </div>
    <div class="form-outer">
        <form [formGroup]="businessForm" action="#">
            <div class="page slide-page" [style.margin-left] = "marginLeft">
                <div class="title">Información general</div>
                <div class="field" style="margin-bottom: 20px;margin-top: 30px;">
                    <input type="text" maxlength="25" required formControlName="name" [class.inputInvalid]="businessForm.controls.name.touched && businessForm.controls.name.invalid">
                    <label>Nombre del negocio</label>
                    <mat-error *ngIf="businessForm.controls.name.touched && businessForm.controls.name.invalid">
                        <span *ngIf="businessForm.controls.name.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field" style="margin-bottom: 75px;height: 120px;">
                    <textarea name="description" maxlength="300" required formControlName="description" [class.inputInvalid]="businessForm.controls.description.touched && businessForm.controls.description.invalid" cols="30" rows="10"></textarea>
                    <label>Breve descipción</label>
                    <mat-error *ngIf="businessForm.controls.description.touched && businessForm.controls.description.invalid">
                        <span *ngIf="businessForm.controls.description.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field">
                    <input type="text" maxlength="20" required formControlName="business" [class.inputInvalid]="businessForm.controls.business.touched && businessForm.controls.business.invalid">
                    <label>Giro del negocio</label>
                    <mat-error *ngIf="businessForm.controls.business.touched && businessForm.controls.business.invalid">
                        <span *ngIf="businessForm.controls.business.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field">
                    <button class="firstNext next" [disabled]="businessForm.controls.name.invalid || businessForm.controls.description.invalid || businessForm.controls.business.invalid" (click)="next($event)">Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Ubicación</div>
                <div class="field" style="margin-bottom: 35px;margin-top: 30px;">
                    <input ngx-google-places-autocomplete 
                        [options]='options' 
                        #placesRef="ngx-places" 
                        placeholder="Ingresa una ubicación" 
                        name="formattedAddress" 
                        (onAddressChange)="changeDireccion($event)"/>
                </div>
                <div class="field" style="margin-top: 35px;">
                    <input type="text" required id="cp" maxlength="5" formControlName="cp" [class.inputInvalid]="businessForm.controls.cp.touched && businessForm.controls.cp.invalid">
                    <label for="cp">CP</label>
                    <input type="text" maxlength="20" required id="state" formControlName="state" [class.inputInvalid]="businessForm.controls.state.touched && businessForm.controls.state.invalid">
                    <label for="state" style="left: 55%;">Estado</label>
                </div>
                <div class="field" style="margin-top: 0; margin-bottom: 0;">
                    <mat-error *ngIf="businessForm.controls.cp.touched && businessForm.controls.cp.invalid">
                        <span *ngIf="businessForm.controls.cp.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                    <mat-error *ngIf="businessForm.controls.state.touched && businessForm.controls.state.invalid">
                        <span *ngIf="businessForm.controls.state.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field" style="margin-top: 0;margin-bottom: 0;">
                    <input type="text" required id="suburb" maxlength="30" formControlName="suburb" [class.inputInvalid]="businessForm.controls.suburb.touched && businessForm.controls.suburb.invalid">
                    <label for="suburb">Colonia</label>
                    <input type="text" id="street" maxlength="25" formControlName="street" [class.inputInvalid]="businessForm.controls.street.touched && businessForm.controls.street.invalid">
                    <label for="street" style="left: 55%;">Calle</label>
                </div>
                <div class="field" style="margin-top: 0; margin-bottom: 0;">
                    <mat-error *ngIf="businessForm.controls.suburb.touched && businessForm.controls.suburb.invalid">
                        <span *ngIf="businessForm.controls.suburb.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                    <mat-error *ngIf="businessForm.controls.street.touched && businessForm.controls.street.invalid">
                        <span *ngIf="businessForm.controls.street.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field" style="margin-top: 0;margin-bottom: 0;">
                    <input type="text" required id="externNumber" maxlength="6" formControlName="externNumber" [class.inputInvalid]="businessForm.controls.externNumber.touched && businessForm.controls.externNumber.invalid">
                    <label for="externNumber">Número externo</label>
                    <input type="text" id="internNumber" formControlName="internNumber" maxlength="6">
                    <label for="internNumber" style="left: 55%;">Número interno</label>
                </div>
                <div class="field" style="margin-top: 0; margin-bottom: 0;">
                    <mat-error *ngIf="businessForm.controls.externNumber.touched && businessForm.controls.externNumber.invalid">
                        <span *ngIf="businessForm.controls.externNumber.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field btns">
                    <button class="prev-1 prev" (click)="prev($event)">Anterior</button>
                    <button class="next-1 next" [disabled]="businessForm.controls.cp.invalid || businessForm.controls.state.invalid || businessForm.controls.suburb.invalid || businessForm.controls.street.invalid || businessForm.controls.externNumber.invalid" (click)="next($event)">Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Contacto</div>
                <div class="field" style="margin-bottom: 25px;margin-top: 30px;">
                    <input type="email" required formControlName="email" [class.inputInvalid]="businessForm.controls.email.touched && businessForm.controls.email.invalid">
                    <label for="email" [class.inputInvalid]="businessForm.controls.email.touched && businessForm.controls.email.invalid">Correo electrónico</label>
                    <mat-error *ngIf="businessForm.controls.email.touched && businessForm.controls.email.invalid">
                        <span *ngIf="businessForm.controls.email.errors?.required">Este campo no puede estar vacío.</span>
                        <span *ngIf="businessForm.controls.email.errors?.emailInvalid && !businessForm.controls.email.errors?.required">El formato del correo es inválido.</span>
                    </mat-error>
                </div>
                <div class="field" style="margin-top: 15px;margin-bottom: 25px;">
                    <input type="text" maxlength="10" required formControlName="phone" [class.inputInvalid]="businessForm.controls.phone.touched && businessForm.controls.phone.invalid">
                    <label for="phone" [class.inputInvalid]="businessForm.controls.phone.touched && businessForm.controls.phone.invalid && (businessForm.controls.phone!=null)">Teléfono</label>
                    <mat-error *ngIf="businessForm.controls.phone.touched && businessForm.controls.phone.invalid">
                        <span *ngIf="businessForm.controls.phone.errors?.required">Este campo no puede estar vacío.</span>
                        <span *ngIf="businessForm.controls.phone.errors?.phoneInvalid && !businessForm.controls.phone.errors?.required">Ingrese los 10 dígitos de su número de tel...</span>
                    </mat-error>
                </div>
                <div class="socialmedia">
                    <label for="">Redes sociales</label>
                    <div class="sll">
                        <div class="input-group" *ngFor="let red of businessForm.controls['SocialMedia'].value;let i=index">
                            <select name="ejem" class="btn btn-outline-secondary" (change)="setSocialMediaValue(i,0,$event)">
                                <option value="fb">Facebook</option>
                                <option value="tw">Twitter</option>
                            </select>
                          <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Enlace completo" (change)='setSocialMediaValue(i,1,$event)'>
                        </div>
                        <button class="btn btn-dark btn-block" (click)="addSocialMedia($event)">Agregar otra</button>
                    </div>
                </div>
                <div class="field btns">
                    <button class="prev-3 prev" (click)="prev($event)" >Anterior</button>
                    <button class="next-3 next" [disabled]="businessForm.controls.email.invalid || businessForm.controls.phone.invalid" (click)="next($event)" >Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Horarios</div>
                <div class="horarios" style="margin-top:10px;margin-bottom: 50px;">
                    <div class="subtitle">Lunes:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="lunesinicio" required (change)="setSchedule(0,0,$event)" [disabled]="notWorkingDays[0]">
                        <label for="lunesinicio">Apertura</label>
                        <input type="time" id="lunesfin" required (change)="setSchedule(0,1,$event)" [disabled]="notWorkingDays[0]">
                        <label for="lunesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="lunesno" name="lunesno" (change)="notWork(0,$event)">
                        <label for="lunesno">No se abre el Lunes</label>
                    </div>
                    <div class="subtitle">Martes:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="martesinicio" required (change)="setSchedule(1,0,$event)" [disabled]="notWorkingDays[1]">
                        <label for="martesinicio">Apertura</label>
                        <input type="time" id="martesfin" required (change)="setSchedule(1,1,$event)" [disabled]="notWorkingDays[1]">
                        <label for="martesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="martesno" (change)="notWork(1,$event)">
                        <label for="martesno">No se abre el Martes</label>
                    </div>
                    <div class="subtitle">Miércoles:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="miercolesinicio" required (change)="setSchedule(2,0,$event)" [disabled]="notWorkingDays[2]">
                        <label for="miercolesinicio">Apertura</label>
                        <input type="time" id="miercolesfin" required (change)="setSchedule(2,1,$event)" [disabled]="notWorkingDays[2]">
                        <label for="miercolesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="miercolesno" (change)="notWork(2,$event)">
                        <label for="miercolesno">No se abre el Miércoles</label>
                    </div>
                    <div class="subtitle">Jueves:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="juevesinicio" required (change)="setSchedule(3,0,$event)" [disabled]="notWorkingDays[3]">
                        <label for="juevesinicio">Apertura</label>
                        <input type="time" id="juevesfin" required (change)="setSchedule(3,1,$event)" [disabled]="notWorkingDays[3]">
                        <label for="juevesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="juevesno" (change)="notWork(3,$event)">
                        <label for="juevesno">No se abre el Jueves</label>
                    </div>
                    <div class="subtitle">Viernes:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="viernesinicio" required (change)="setSchedule(4,0,$event)" [disabled]="notWorkingDays[4]">
                        <label for="viernesinicio">Apertura</label>
                        <input type="time" id="viernesfin" required (change)="setSchedule(4,1,$event)" [disabled]="notWorkingDays[4]">
                        <label for="viernesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="viernesno" (change)="notWork(4,$event)">
                        <label for="viernesno">No se abre el Viernes</label>
                    </div>
                    <div class="subtitle">Sábado:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="sabadoinicio" required (change)="setSchedule(5,0,$event)" [disabled]="notWorkingDays[5]">
                        <label for="sabadoinicio">Apertura</label>
                        <input type="time" id="sabadofin" required (change)="setSchedule(5,1,$event)" [disabled]="notWorkingDays[5]">
                        <label for="sabadofin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="sabadono" (change)="notWork(5,$event)">
                        <label for="sabadono">No se abre el Sábado</label>
                    </div>
                    <div class="subtitle">Domingo:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="domingoinicio" required (change)="setSchedule(6,0,$event)" [disabled]="notWorkingDays[6]">
                        <label for="domingoinicio">Apertura</label>
                        <input type="time" id="domingofin" required (change)="setSchedule(6,1,$event)" [disabled]="notWorkingDays[6]">
                        <label for="domingofin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="domingono" (change)="notWork(6,$event)">
                        <label for="domingono">No se abre el Domingo</label>
                    </div>
                </div>
                <div class="field btns">
                    <button class="prev-3 prev" (click)="prev($event)" >Anterior</button>
                    <button class="next-3 next" (click)="next($event)" >Crear negocio</button>
                </div>
            </div>
            
            <div class="page">
                <div class="title">Personaliza tu negocio</div>
                <h3 class="desc" [style.display]="charge ? 'none':'flex'" style="margin-bottom: 5px;">Agrega tu logotipo y una imágen de portada</h3>
                <mat-progress-spinner [style.display]="charge ? 'flex':'none'" style="margin: auto;margin-top: 35%;" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
                <div [style.display]="charge ? 'none':'flex'" class="load-images">
                    <div class="logo">
                        <h3 style="margin-bottom: 10px;">Logotipo</h3>
                        <div class="file-select src-file" >
                            <img class="preview-image" [src]="imgLogo" alt="your image" />
                            <!-- <img src="../../../../../assets/img/upld.gif" alt="your image" /> -->
                            <input type="file" name="img-logo" aria-label="Archivo" (change)="imagePreview($event,0)">
                        </div>
                    </div>
                    <div class="portada">
                        <h3 style="margin-bottom: 10px;">Portada</h3>
                        <div class="file-select src-file" >
                            <img class="preview-image" [src]="imgPortada" alt="your image" />
                            <!-- <img src="../../../../../assets/img/upld.gif" alt="your image" /> -->
                            <input type="file" name="img-portada" aria-label="Archivo" (change)="imagePreview($event,1)">
                        </div>
                    </div>
                </div>
                <h3 [style.display]="charge ? 'none':'flex'" class="desc">Añade etiquetas para las búsquedas</h3>
                <div [style.display]="charge ? 'none':'inline'" class="tags">
                    <mat-form-field class="tags-chips">
                    <mat-label>Tags</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                      <mat-chip
                        *ngFor="let op of tagsSelected"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(op)">
                        {{op}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="Nuevo tag..."
                        #tagsInput
                        [formControl]="tagsCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let op of filteredTags | async" [value]="op">
                        {{op}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>  
                <div [style.display]="charge ? 'none':'flex'" class="field" style="height: 25px;margin-bottom: 10px !important;">
                    <button class="btn primary confirmBusiness" (click)="createBusiness()">
                        Listo
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
