<div class="container">
    <header>Registrar nuevo negocio </header>
    <div class="pbar">
        <div class="step" *ngFor="let paso of steps;let indice=index">
            <p [class]="paso[1]">{{ paso[0] }}</p>
            <div class="bullet" [class]="paso[1]">
                <span>{{indice + 1}}</span>
            </div>
            <div class="check fas fa-check " [class]="paso[1]">
            </div>
        </div>
    </div>
    <div class="form-outer">
        <form [formGroup]="businessForm" action="#">
            <div class="page slide-page" [style.margin-left] = "marginLeft">
                <div class="title">Información general</div>
                <div class="field" style="margin-bottom: 20px;margin-top: 30px;">
                    <input type="text" required formControlName="name" [class.inputInvalid]="businessForm.controls.name.touched && businessForm.controls.name.invalid">
                    <label>Nombre del negocio</label>
                    <mat-error *ngIf="businessForm.controls.name.touched && businessForm.controls.name.invalid">
                        <span *ngIf="businessForm.controls.name.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field" style="margin-bottom: 75px;">
                    <textarea name="description" required formControlName="description" [class.inputInvalid]="businessForm.controls.description.touched && businessForm.controls.description.invalid" cols="30" rows="10"></textarea>
                    <label>Breve descipción</label>
                    <mat-error *ngIf="businessForm.controls.description.touched && businessForm.controls.description.invalid">
                        <span *ngIf="businessForm.controls.description.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field">
                    <input type="text" required formControlName="business" [class.inputInvalid]="businessForm.controls.business.touched && businessForm.controls.business.invalid">
                    <label>Giro del negocio</label>
                    <mat-error *ngIf="businessForm.controls.business.touched && businessForm.controls.business.invalid">
                        <span *ngIf="businessForm.controls.business.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field">
                    <button class="firstNext next" (click)="next($event)">Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Ubicación</div>
                <div class="field" style="margin-bottom: 35px;margin-top: 30px;">
                    <!-- <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" placeholder="Ingresa una ubicación" name="formattedAddress"/> -->
                </div>
                <div class="field btns">
                    <button class="prev-1 prev" (click)="prev($event)">Anterior</button>
                    <button class="next-1 next" (click)="next($event)">Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Contacto</div>
                <div class="field" style="margin-bottom: 25px;margin-top: 30px;">
                    <input type="email" required formControlName="email" [class.inputInvalid]="businessForm.controls.email.touched && businessForm.controls.email.invalid">
                    <label for="">Correo electrónico</label>
                    <mat-error *ngIf="businessForm.controls.email.touched && businessForm.controls.email.invalid">
                        <span *ngIf="businessForm.controls.email.errors?.required">Este campo no puede estar vacío.</span>
                        <span *ngIf="businessForm.controls.email.errors?.pattern">El formato del correo es inválido.</span>
                    </mat-error>
                </div>
                <div class="field" style="margin-top: 15px;margin-bottom: 25px;">
                    <input type="text" required formControlName="phone" [class.inputInvalid]="businessForm.controls.phone.touched && businessForm.controls.phone.invalid">
                    <label for="" >Teléfono</label>
                    <mat-error *ngIf="businessForm.controls.phone.touched && businessForm.controls.phone.invalid">
                        <span *ngIf="businessForm.controls.phone.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="socialmedia">
                    <label for="">Redes sociales</label>
                    <div class="sll">
                        <div class="input-group" *ngFor="let red of businessForm.controls['SocialMedia'].value;let i=index">
                            <select name="ejem" class="btn btn-outline-secondary" (change)="setSocialMediaValue(i,0,$event)">
                                <option value="fb">Facebook</option>
                                <option value="tw">Twitter</option>
                            </select>
                          <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Enlace completo" (change)='setSocialMediaValue(i,1,$event)'>
                        </div>
                        <button class="btn btn-dark btn-block" (click)="addSocialMedia($event)">Agregar otra</button>
                    </div>
                </div>
                <div class="field btns">
                    <button class="prev-3 prev" (click)="prev($event)" >Anterior</button>
                    <button class="next-3 next" (click)="next($event)" >Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Horarios</div>
                <div class="horarios" style="margin-top:10px;margin-bottom: 50px;">
                    <div class="subtitle">Horarios de lunes:</div>
                    <div class="field">
                        <input type="time" id="lunesinicio" required>
                        <label for="lunesinicio">Apertura</label>
                        <input type="time" id="lunesfin" required>
                        <label for="lunesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field">
                        <input type="time" id="martesinicio" required>
                        <label for="martesinicio">Apertura</label>
                        <input type="time" id="martesfin" required>
                        <label for="martesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field">
                        <input type="time" id="miercolesinicio" required>
                        <label for="miercolesinicio">Apertura</label>
                        <input type="time" id="miercolesfin" required>
                        <label for="miercolesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field">
                        <input type="time" id="juevesinicio" required>
                        <label for="juevesinicio">Apertura</label>
                        <input type="time" id="juevesfin" required>
                        <label for="juevesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field">
                        <input type="time" id="viernesinicio" required>
                        <label for="viernesinicio">Apertura</label>
                        <input type="time" id="viernesfin" required>
                        <label for="viernesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field">
                        <input type="time" id="sabadoinicio" required>
                        <label for="sabadoinicio">Apertura</label>
                        <input type="time" id="sabadofin" required>
                        <label for="sabadofin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field">
                        <input type="time" id="domingoinicio" required>
                        <label for="domingoinicio">Apertura</label>
                        <input type="time" id="domingofin" required>
                        <label for="domingofin" style="left: 55%;">Cierre</label>
                    </div>
                </div>
                <div class="field btns">
                    <button class="prev-3 prev" (click)="prev($event)" >Anterior</button>
                    <button class="next-3 next" (click)="next($event)" >Crear negocio</button>
                </div>
            </div>
            <div class="page">
                <div class="title">¿Qué tipo de negocio quieres registrar?</div>
                <mat-progress-spinner style="margin:0 auto;margin-top:30%;margin-left:47%" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
            </div>
        </form>
    </div>
</div>
