<div class="container">
    <header>Registrar nuevo negocio </header>
    <div class="pbar">
        <div class="step" *ngFor="let paso of steps;let indice=index">
            <p [class]="paso[1]">{{ paso[0] }}</p>
            <div class="bullet" [class]="paso[1]">
                <span>{{indice + 1}}</span>
            </div>
            <div class="check fas fa-check " [class]="paso[1]">
            </div>
        </div>
    </div>
    <div class="form-outer">
        <form [formGroup]="businessForm" action="#">
            <div class="page slide-page" [style.margin-left] = "marginLeft">
                <div class="title">Información general</div>
                <div class="field" style="margin-bottom: 20px;margin-top: 30px;">
                    <input type="text" required formControlName="name" [class.inputInvalid]="businessForm.controls.name.touched && businessForm.controls.name.invalid">
                    <label>Nombre del negocio</label>
                    <mat-error *ngIf="businessForm.controls.name.touched && businessForm.controls.name.invalid">
                        <span *ngIf="businessForm.controls.name.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field" style="margin-bottom: 75px;">
                    <textarea name="description" required formControlName="description" [class.inputInvalid]="businessForm.controls.description.touched && businessForm.controls.description.invalid" cols="30" rows="10"></textarea>
                    <label>Breve descipción</label>
                    <mat-error *ngIf="businessForm.controls.description.touched && businessForm.controls.description.invalid">
                        <span *ngIf="businessForm.controls.description.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field">
                    <input type="text" required formControlName="business" [class.inputInvalid]="businessForm.controls.business.touched && businessForm.controls.business.invalid">
                    <label>Giro del negocio</label>
                    <mat-error *ngIf="businessForm.controls.business.touched && businessForm.controls.business.invalid">
                        <span *ngIf="businessForm.controls.business.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="field">
                    <button class="firstNext next" (click)="next($event)">Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Ubicación</div>
                <div class="field" style="margin-bottom: 35px;margin-top: 30px;">
                    <!-- <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" placeholder="Ingresa una ubicación" name="formattedAddress"/> -->
                </div>
                <div class="field btns">
                    <button class="prev-1 prev" (click)="prev($event)">Anterior</button>
                    <button class="next-1 next" (click)="next($event)">Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Contacto</div>
                <div class="field" style="margin-bottom: 25px;margin-top: 30px;">
                    <input type="email" required formControlName="email" [class.inputInvalid]="businessForm.controls.email.touched && businessForm.controls.email.invalid">
                    <label for="">Correo electrónico</label>
                    <mat-error *ngIf="businessForm.controls.email.touched && businessForm.controls.email.invalid">
                        <span *ngIf="businessForm.controls.email.errors?.required">Este campo no puede estar vacío.</span>
                        <span *ngIf="businessForm.controls.email.errors?.pattern">El formato del correo es inválido.</span>
                    </mat-error>
                </div>
                <div class="field" style="margin-top: 15px;margin-bottom: 25px;">
                    <input type="text" required formControlName="phone" [class.inputInvalid]="businessForm.controls.phone.touched && businessForm.controls.phone.invalid">
                    <label for="" >Teléfono</label>
                    <mat-error *ngIf="businessForm.controls.phone.touched && businessForm.controls.phone.invalid">
                        <span *ngIf="businessForm.controls.phone.errors?.required">Este campo no puede estar vacío.</span>
                    </mat-error>
                </div>
                <div class="socialmedia">
                    <label for="">Redes sociales</label>
                    <div class="sll">
                        <div class="input-group" *ngFor="let red of businessForm.controls['SocialMedia'].value;let i=index">
                            <select name="ejem" class="btn btn-outline-secondary" (change)="setSocialMediaValue(i,0,$event)">
                                <option value="fb">Facebook</option>
                                <option value="tw">Twitter</option>
                            </select>
                          <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Enlace completo" (change)='setSocialMediaValue(i,1,$event)'>
                        </div>
                        <button class="btn btn-dark btn-block" (click)="addSocialMedia($event)">Agregar otra</button>
                    </div>
                </div>
                <div class="field btns">
                    <button class="prev-3 prev" (click)="prev($event)" >Anterior</button>
                    <button class="next-3 next" (click)="next($event)" >Siguiente</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Horarios</div>
                <div class="horarios" style="margin-top:10px;margin-bottom: 50px;">
                    <div class="subtitle">Lunes:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="lunesinicio" required (change)="setSchedule(0,0,$event)" [disabled]="notWorkingDays[0]">
                        <label for="lunesinicio">Apertura</label>
                        <input type="time" id="lunesfin" required (change)="setSchedule(0,1,$event)" [disabled]="notWorkingDays[0]">
                        <label for="lunesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="lunesno" name="lunesno" (change)="notWork(0,$event)">
                        <label for="lunesno">No se abre el Lunes</label>
                    </div>
                    <div class="subtitle">Martes:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="martesinicio" required (change)="setSchedule(1,0,$event)" [disabled]="notWorkingDays[1]">
                        <label for="martesinicio">Apertura</label>
                        <input type="time" id="martesfin" required (change)="setSchedule(1,1,$event)" [disabled]="notWorkingDays[1]">
                        <label for="martesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="martesno" (change)="notWork(1,$event)">
                        <label for="martesno">No se abre el Martes</label>
                    </div>
                    <div class="subtitle">Miércoles:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="miercolesinicio" required (change)="setSchedule(2,0,$event)" [disabled]="notWorkingDays[2]">
                        <label for="miercolesinicio">Apertura</label>
                        <input type="time" id="miercolesfin" required (change)="setSchedule(2,1,$event)" [disabled]="notWorkingDays[2]">
                        <label for="miercolesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="miercolesno" (change)="notWork(2,$event)">
                        <label for="miercolesno">No se abre el Miércoles</label>
                    </div>
                    <div class="subtitle">Jueves:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="juevesinicio" required (change)="setSchedule(3,0,$event)" [disabled]="notWorkingDays[3]">
                        <label for="juevesinicio">Apertura</label>
                        <input type="time" id="juevesfin" required (change)="setSchedule(3,1,$event)" [disabled]="notWorkingDays[3]">
                        <label for="juevesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="juevesno" (change)="notWork(3,$event)">
                        <label for="juevesno">No se abre el Jueves</label>
                    </div>
                    <div class="subtitle">Viernes:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="viernesinicio" required (change)="setSchedule(4,0,$event)" [disabled]="notWorkingDays[4]">
                        <label for="viernesinicio">Apertura</label>
                        <input type="time" id="viernesfin" required (change)="setSchedule(4,1,$event)" [disabled]="notWorkingDays[4]">
                        <label for="viernesfin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="viernesno" (change)="notWork(4,$event)">
                        <label for="viernesno">No se abre el Viernes</label>
                    </div>
                    <div class="subtitle">Sábado:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="sabadoinicio" required (change)="setSchedule(5,0,$event)" [disabled]="notWorkingDays[5]">
                        <label for="sabadoinicio">Apertura</label>
                        <input type="time" id="sabadofin" required (change)="setSchedule(5,1,$event)" [disabled]="notWorkingDays[5]">
                        <label for="sabadofin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="sabadono" (change)="notWork(5,$event)">
                        <label for="sabadono">No se abre el Sábado</label>
                    </div>
                    <div class="subtitle">Domingo:</div>
                    <div class="field" style="margin-top: 0;margin-bottom: 0;">
                        <input type="time" id="domingoinicio" required (change)="setSchedule(6,0,$event)" [disabled]="notWorkingDays[6]">
                        <label for="domingoinicio">Apertura</label>
                        <input type="time" id="domingofin" required (change)="setSchedule(6,1,$event)" [disabled]="notWorkingDays[6]">
                        <label for="domingofin" style="left: 55%;">Cierre</label>
                    </div>
                    <div class="field check">
                        <input type="checkbox" id="domingono" (change)="notWork(6,$event)">
                        <label for="domingono">No se abre el Domingo</label>
                    </div>
                </div>
                <div class="field btns">
                    <button class="prev-3 prev" (click)="prev($event)" >Anterior</button>
                    <button class="next-3 next" (click)="next($event)" >Crear negocio</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Personaliza tu negocio</div>
                <h3>Carga un logotipo y una imágenen de portada para que tu negocio sea más fácil de ubicar:</h3>
                <mat-progress-spinner [style.display]="charge" style="margin:0 auto;margin-top:30%;margin-left:47%" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
                <div class="load-images">
                    <div class="logo">
                        <h3>Logotipo</h3>
                        <div class="file-select src-file" >
                            <img class="preview-image" [src]="imagePrev" alt="your image" />
                            <!-- <img src="../../../../../assets/img/upld.gif" alt="your image" /> -->
                            <input type="file" name="src-file1" aria-label="Archivo" (change)="imagePreview($event)">
                        </div>
                    </div>
                    <div class="portada">
                        <h3>Portada</h3>
                        <div class="file-select src-file" >
                            <img class="preview-image" [src]="imagePrev" alt="your image" />
                            <!-- <img src="../../../../../assets/img/upld.gif" alt="your image" /> -->
                            <input type="file" name="src-file1" aria-label="Archivo" (change)="imagePreview($event)">
                        </div>
                    </div>
                </div>
                <mat-form-field class="example-chip-list">
                    <mat-label>Favorite Fruits</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                      <mat-chip
                        *ngFor="let fruit of fruits"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="New fruit..."
                        #fruitInput
                        [formControl]="fruitCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        {{fruit}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
        </form>
    </div>
</div>
